# Ignore the entire .idea folder (PyCharm settings) when pushing to git
.idea/
#Ignore MAC OS X .DS_Store files
.DS_store
#ignore saving steps in jupyter notebook
.ipynb_checkpoints/

#ignore saving steps in jupyter notebook in a specific fodler
notebook/.ipynb_checkpoints/venv/
venv/
